<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Home" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>


<GridLayout columns="*" rows="auto, auto, auto">
  <Button text="Click here to greet" class="-primary" color='gray' 
 (tap)='onButtonTap($event)' row='1' column='0'></Button>
  <Label [text]='this.user.name' row='2' column='0'
  height="50px" textAlignment='center' 
  style='font-size: 16px; font-weight: bold;'></Label>
  <label [text]='this.user.id' row='*' column='*' height="50px" textAlignment='center'
  style='font-size: 16px; font-weight: bold'></label>
 </GridLayout>
 
